*{
    margin: 0;
}

.container{
    width: 100%;
    background: linear-gradient(45deg, #FDBF60, #FEECE2); /* Adjust colors and angle as needed */
    min-height: 100vh;
    padding: 10px;
}

.app{
    background-color: white;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto 20px;

}

.todo-app{
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-img{
    height: 25%;
    width: 25%;
    align-items: center;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #edeef0;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-top: 25px;
    width: 90%;

    

}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 35px;
    font-weight: bold;
    padding: 10px;

}


button{
    background-color: orange;
    border-radius: 30px;
    font-size: 25px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 16px 50px;
    margin-left: 20px;
}




ul li{
    font-size: 35px;
    padding: 12px 8px 12px 50px ;
    cursor: pointer;
}




